body {
    font-family: Arial;
    text-align: center;
    background: #f4f6f9;
}

input, button {
    padding: 8px;
    margin: 5px;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 50%;
}

th, td {
    border: 1px solid #aaa;
    padding: 8px;
}

th {
    background: #3a7bd5;
    color: white;
}
